@model ChatRoomFormModel
<table class="tasks-entry form">
	<tr>
        <th>
            <label asp-for="Name"></label>
        </th>
        <td>
            <input asp-for="Name" class="form-control" placeholder="Name..."></input>
            <span asp-validation-for="Name" class="small text-danger"></span>
        </td>
    </tr>
</table>
